APP_NAME=Landscape GIS Gateway
APP_HOST=0.0.0.0
APP_PORT=8080
APP_DEBUG=true

USERS_SERVICE_URL=http://users-service:8010
DICTIONARY_SERVICE_URL=http://dictionary-service:8020
ML_SERVICE_URL=http://ml-service:8030

REQUEST_TIMEOUT_SECONDS=120