APP_NAME=Landscape Users API temp
APP_HOST=0.0.0.0
APP_PORT=8010
APP_DEBUG=true

JWT_PRIVATE_KEY_PATH=keys/private_key.pem
JWT_ALGORITHM=RS256

JWT_PUBLIC_KEY_PATH=keys/public_key.pem
JWT_ISSUER=user-microservice
JWT_AUDIENCE=internal-services

DB_HOST=localhost
DB_PORT=6000
DB_NAME=olms_people
DB_USER=olms_people_keeper
DB_PASSWORD=5uthU]evx2RYV-2B].hMsH=aU>ia-2!9